.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #3a7563;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #59a985;
}

.SidebarList #active{
  background-color: #59a985;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  
}

/* nav sidebar ^^ */

/* footer style */

.footer-container{
  font-size: 1rem;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column-gap: 1rem;
  color: #fff;
  background-color: #3a7563;
}

.socials-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  grid-gap: 1rem;
}

.socials-icons {
  background: #e6d3a7;
  padding: 1rem;
  border-radius: 50%;
  color: white;
}

.footer-icon{
  /* font-size: 1.5rem; */
  justify-items: center;
}

#copyright {
  margin-top: 2rem;
}
